body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #C7D0D5;
}

.navbar-default {
    background-color: #93B1C6;
	border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #F5F5F5;
	font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #F5F5F5;
	font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #555;
	background-color: #C7D0D5;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #C7D0D5;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #C7D0D5;
}

.panel-default {
	border: 0px;
}

.panel-default > .panel-heading {
	background-color: #FF7148;
	color: #F5F5F5;
}

.panel-default > .panel-heading > h2 {
	margin: 5px 0px 5px 0px;
}

.btn-default {
  color: #F5F5F5;
  background-color: #FF7148;
  border-color: #FF7148;
}

.btn-default:focus,
.btn-default.focus {
  color: #F5F5F5;
  background-color: #FF7148;
  border-color: #FF7148;
}

.btn-default:hover {
  color: #F5F5F5;
  background-color: #b43a18;
  border-color: #b43a18;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #F5F5F5;
  background-color: #b43a18;
  border-color: #b43a18;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #F5F5F5;
  background-color: #b43a18;
  border-color: #b43a18;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #b43a18;
  border-color: #b43a18;
}

